body {
  font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
  font-size: 18px;
}

a {
  border-bottom: none;
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }
}
