<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" type="text/css" href="/css/styles.less" />
    <script src="https://cdn.bootcss.com/less.js/3.9.0/less.min.js"></script>
    <title>{{ site.title | escape }}</title>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    <div class="footer text-center">
       <p>Copyright &copy; 2019 <a href="https://opskumu.com">Kumu</a> ：）</p>
    </div>
  </body>
</html>
