---
layout: default
---

<div class="site-header">
  <h1><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <div class="post-list">
    {%- for post in site.posts -%}
    <div class="post-li">
      <div>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </div>
      <div class="post-meta">
        {{ post.date | date: "%Y-%m-%d" }}
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}
</div>
